In [1]:
import pandas as pd

### Задание №1

In [2]:
data = pd.read_csv('/Users/kseniagorchakova/Library/Mobile Documents/com~apple~CloudDocs/Education/!Profession_DS/Python/Python_repository/data/ml-25m/ratings.csv')

In [3]:
data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [7]:
def class_(param):
    if param <= 2:
        return 'низкий рейтинг'
    elif param <= 4:
        return 'средний рейтинг'
    elif param == 4.5 or param ==5:
        return 'высокий рейтинг'

In [9]:
data['class_'] = data['rating'].apply(class_)

In [10]:
data.head()

   userId  movieId  rating   timestamp           class_
0       1      296     5.0  1147880044  высокий рейтинг
1       1      306     3.5  1147868817  средний рейтинг
2       1      307     5.0  1147868828  высокий рейтинг
3       1      665     5.0  1147878820  высокий рейтинг
4       1      899     3.5  1147868510  средний рейтинг

### Задание №2

In [24]:
df = pd.read_csv('/Users/kseniagorchakova/Library/Mobile Documents/com~apple~CloudDocs/Education/!Profession_DS/Python/Numpy_Pandas_Лекции и семинары/3_Лекция_доп.материалы/keywords.csv')

In [25]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [26]:
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [132]:
# Функция проверяет есть ли поисковые слова в значениях словаря
def region(param):
    for region, city in geo_data.items():
        if param in city:
            return region
        elif param not in city:
             continue
    return('undefined')

In [133]:
df['region'] = df['keyword'].apply(region)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [136]:
df[df['region'] != 'undefined']

           keyword   shows          region
1259        москва  153050           Центр
5858   владивосток   43038  Дальний Восток
6075     ярославль   41720           Центр
8977      мурманск   29984    Северо-Запад
9084     хабаровск   29655  Дальний Восток
11222        псков   24885    Северо-Запад
11785         тула   23898           Центр
20823    петербург   14859    Северо-Запад
21445      сахалин   14494  Дальний Восток