In [1]:
import pandas as pd

### Задание №1

In [167]:
data = pd.read_csv('/Users/kseniagorchakova/Library/Mobile Documents/com~apple~CloudDocs/Education/!Profession_DS/Python/Python_repository/data/ml-25m/ratings.csv', delimiter = ',')

In [168]:
data.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [7]:
def class_(param):
    if param <= 2:
        return 'низкий рейтинг'
    elif param <= 4:
        return 'средний рейтинг'
    elif param == 4.5 or param ==5:
        return 'высокий рейтинг'

In [9]:
data['class_'] = data['rating'].apply(class_)

In [10]:
data.head()

   userId  movieId  rating   timestamp           class_
0       1      296     5.0  1147880044  высокий рейтинг
1       1      306     3.5  1147868817  средний рейтинг
2       1      307     5.0  1147868828  высокий рейтинг
3       1      665     5.0  1147878820  высокий рейтинг
4       1      899     3.5  1147868510  средний рейтинг

### Задание №2

In [159]:
df = pd.read_csv('/Users/kseniagorchakova/Library/Mobile Documents/com~apple~CloudDocs/Education/!Profession_DS/Python/Numpy_Pandas_Лекции и семинары/3_Лекция_доп.материалы/keywords.csv')

In [160]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [161]:
df.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [162]:
# Доработка
## Функция проверяет есть ли значения словаря (города) в поисковых запросах
def region(row):
    for region, cities in geo_data.items():
        for city in cities: # Перебор городов в списке
            if city in row['keyword']:
                return region
            else:
                continue
    return('undefined')

In [163]:
df['region'] = df.apply(region, axis = 1)
df.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [164]:
df[df['region'] != 'undefined']

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
564                погода в санкт петербурге  292489    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
...                                      ...     ...             ...
99590  авито ярославль автомобили с пробегом    3673           Центр
99634   северпост новости мурманской области    3606    Северо-Запад
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[747 rows x 3 columns]